.small-footer-text p {
    font-size: .5em;
}
.btn.btn-primary.big-red-button {
    background: #f44336;
    padding: 1em 2em;
    font-size: 1.2em;
}
#fh5co-intro {
    padding-bottom: 0px;
}


.navbar-2nd-logo {
    padding-top: 1em;
}
.navbar-2nd-logo p {
    color: rgba(255, 255, 255, 0.5);
    font-size: .5em;   
    text-align: right;
    line-height: 120%;
    margin-top: 5px;
}
.navbar-2nd-logo img {
    float: right;
    max-width: 70%;
    padding-left: 12px;
}
.navbar-fixed-top .navbar-2nd-logo p {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-fixed-top .navbar-brand {
    white-space: nowrap;
    margin-left: -30px;
}

.navbar-fixed-top .navbar-brand img {
    filter: invert(100%);
}
.navbar-fixed-top .navbar-2nd-logo img {
    /* filter: invert(100%); */
}